!!!
%html
  %head
    %title LusCoffeeRail
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    %script{src: "https://cdn.jsdelivr.net/g/immutable.js@3.7.6,jquery@2.2.1", crossorigin: "anonymous"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: "layouts/navbar"
    .flash-info
      .container
        Open: 7am - 23pm

    = yield
    .footer
      lu's Coffee
